.formacao{
    background-color: #141414;
    color: #ffff;
}

.formacao-container{
    display: grid;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
}
.formacao .subtitulo{
    color: black;
    max-width: 5ch;
}
.formacao-texto{
    font-size: 1.3rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}
.formacao-texto strong{
    color: white; 
 }
 .faculdade-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.faculdade{
    flex: 1;
    background-color: black;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.faculdade-tipo{
    font-size: .875rem;
    color: #a3a3a3;
    margin-bottom: 10px;
}
.faculdade-curso{
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px; 
    position: relative;
     flex: 1;
}

.faculdade-curso::before{
    content: "";
    display: block;
    width: 4px;
    height: 25px;
    background: red;
    position: absolute;
    left: -24px;
}
.faculdade-instituicao{
    font-size: 1.125rem;
    color: #a3a3a3;
}
.cursos{
    margin-bottom: 60px;
}
.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
.formacao-extra h3::before{
    display: block;
    content: "";
    width: 40px;
    height: 30px;
    background: url(../image/livro-icon.png) no-repeat center center;
    position: absolute;
    left: -36px;
    top: -4px;
}
.formacao-extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #8f8f8f;
}
.cursos li{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
}
.formacao .subtitulo-formacao{
    color: white;

}

.formacao-texto{
    font-size: 1.25rem;
    max-width: initial;
    text-align: center;
}
.faculdade{
    padding: 10px;
}
.faculdade-curso::before{
    left: -15px;
}
.formacao-extra h3::before{
    position: initial;
    margin-bottom: 10px;
}
}