@charset "UTF-8";
@import url(menu.css);
@import url(introducao.css);
@import url(projetos.css);
@import url(formacao.css);
@import url(footer.css);
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    
}
img{
    max-width: 100%;
    display: block;

}
.font-1-xl {
    font: 600 2rem/1.25 "Poppins", sans-serif;
}
.foto-mara{
    border-radius: 50%;
}
 .subtitulo{
    font-size: 4.1rem;
    line-height: 1;
}
@media (max-width: 800px) {
    .subtitulo,
    .subtitulo-formacao{
        font-size: 2.0rem;
        text-transform: capitalize;
        max-width: initial !important;
        text-align: center;
    }
} 
@media (max-width: 400px) {
    .subtitulo{
        font-size: 1.5rem;
   
    }
} 
